.safeform {
    display: inline-block;
    bottom: 10px;
}

.safeform > label {
	display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    color:white;
}

.safeform > select {
    vertical-align: middle;
}

#questionmark {
	vertical-align: top;
}

#branding{
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

#branding > p {
    font-size: 10px;
    display:inline-block;
    text-align: left;
    margin-left: 5px;
    line-height: 14px;
}

#branding > h2 {
	font-size: 30px;
	display:inline-block;
}

.leaflet-container {  /* all maps */
    width:  100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
}

footer {
    margin-top: 0px;
    border-top: 5px solid black;
    padding-top: 8px;
    position:fixed;
    width: 100%;
    bottom: 0px;
    color:white;
    background: black;
    opacity: 0.9;
}

.leaflet-bottom {
    bottom: 70px;
}

.leaflet-top {
    top: 60px;
}

#answer {
    height: 0px;
}

#answermark {
    display: none;
}

#result {
    display: none;
    margin-top: 30px;
}

#result {
    color: black;
}

#result > .alert {
    overflow: scroll;
}


#leftpanel {
    display: none;
}

#main{
    width: 100%;
}

.barlittle {
    display: none;
    background-color: white;  
    background-image: -moz-linear-gradient(45deg, white 25%, white); 
    background-image: -webkit-linear-gradient(45deg, white 25%, white);
    border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
    width:10px;
    height:10px;
    float:left;
    margin-left:5px;
        opacity:0.1;
    -moz-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    -moz-animation:move 1s infinite linear;
    -webkit-animation:move 1s infinite linear;
}
#block_1{
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
 }
#block_2{
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
#block_3{
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
}
#block_4{
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
}
#block_5{
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
}
@-moz-keyframes move{
    0%{-moz-transform: scale(1.2);opacity:1;}
    100%{-moz-transform: scale(0.7);opacity:0.1;}
}
@-webkit-keyframes move{
    0%{-webkit-transform: scale(1.2);opacity:1;}
    100%{-webkit-transform: scale(0.7);opacity:0.1;}
}